Alexandre PORCHER <alexandre.porcher@etud.u-picardie.fr> Alexandre Porcher <alexandre.porcher@etud.u-picardie.fr>
Alexandre PORCHER <alexandre.porcher@etud.u-picardie.fr> Aporcher96 <32090792+Aporcher96@users.noreply.github.com>
Edouard HAENTJENS <edouard.haentjens@etud.u-picardie.fr> edouard haentjens <edouard.haentjens@etud.u-picardie.fr>

