Alexandre Porcher <alexandre.porcher@etud.u-picardie.fr>
Aporcher96 <32090792+Aporcher96@users.noreply.github.com>
Persephone <julie.estruch@etud.u-picardie.fr>
Valentinv <valentin.vaucher@wanadoo.fr>
antoine.caccin@etud.u-picardie.fr <antoine.caccin@etud.u-picardie.fr>
edouard haentjens <edouard.haentjens@etud.u-picardie.fr>
